@import "./tailwind.css";

@layer base {
	:root {
		--background: 0 0% 100%;
		--foreground: 222.2 47.4% 11.2%; /* slate-900 */
		--card: 0 0% 100%;
		--card-foreground: 222.2 47.4% 11.2%; /* slate-900 */
		--popover: 0 0% 100%;
		--popover-foreground: 222.2 47.4% 11.2%; /* slate-900 */
		--primary: 43.3 96.4% 56.3%; /* amber-400 */
		--primary-foreground: 222.2 84% 4.9%; /* slate-950 */
		--secondary: 214.3 31.8% 91.4%; /* slate-200 */
		--secondary-foreground: 217.2 32.6% 17.5%; /* slate-800 */
		--muted: 210 40% 96.1%; /* slate-100 */
		--muted-foreground: 215.3 19.3% 34.5%; /* slate-600 */
		--accent: 78.3 92% 95.1%; /* lime-50 */
		--accent-foreground: 222.2 47.4% 11.2%; /* slate-900 */
		--destructive: 346.8 77.2% 49.8%; /* rose-600 */
		--destructive-foreground: 222.2 47.4% 11.2%; /* slate-900 */
		--border: 214.3 31.8% 91.4%; /* slate-200 */
		--input: 212.7 26.8% 83.9%; /* slate-300 */
		--ring: 215.3 19.3% 34.5%; /* slate-600 */
		--radius: 0rem;
		--chart-1: 20.5 90.2% 48.2%; /* orange-600 */
		--chart-2: 142.1 76.2% 36.3%; /* green-600 */
		--chart-3: 47.9 95.8% 53.1%; /* yellow-400 */
		--chart-4: 262.1 83.3% 57.8%; /* violet-600 */
		--chart-5: 333.3 71.4% 50.6%; /* pink-600 */
	}

	.dark {
		--background: 222.2 84% 4.9%; /* slate-950 */
		--foreground: 210 40% 98%; /* slate-50 */
		--card: 217.2 32.6% 17.5%; /* slate-800 */
		--card-foreground: 210 40% 98%; /* slate-50 */
		--popover: 217.2 32.6% 17.5%; /* slate-800 */
		--popover-foreground: 210 40% 98%; /* slate-50 */
		--primary: 43.3 96.4% 56.3%; /* amber-400 */
		--primary-foreground: 222.2 84% 4.9%; /* slate-950 */
		--secondary: 217.2 32.6% 17.5%; /* slate-800 */
		--secondary-foreground: 214.3 31.8% 91.4%; /* slate-200 */
		--muted: 222.2 47.4% 11.2%; /* slate-900 */
		--muted-foreground: 215 20.2% 65.1%; /* slate-400 */
		--accent: 82 84.5% 67.1%; /* lime-300 */
		--accent-foreground: 222.2 47.4% 11.2%; /* slate-900 */
		--destructive: 345.3 82.7% 40.8%; /* rose-700 */
		--destructive-foreground: 210 40% 98%; /* slate-50 */
		--border: 215.3 25% 26.7%; /* slate-700 */
		--input: 217.2 32.6% 17.5%; /* slate-800 */
		--ring: 214.3 31.8% 91.4%; /* slate-200 */
		--radius: 0rem;
		--chart-1: 20.5 90.2% 48.2%; /* orange-600 */
		--chart-2: 142.1 76.2% 36.3%; /* green-600 */
		--chart-3: 47.9 95.8% 53.1%; /* yellow-400 */
		--chart-4: 262.1 83.3% 57.8%; /* violet-600 */
		--chart-5: 333.3 71.4% 50.6%; /* pink-600 */
	}
}

body {
	@apply bg-background text-foreground;
}
