{:linters {:unsorted-required-namespaces {:level :error}
           :refer {:level :warning}
           :single-key-in {:level :error}
           :used-underscored-binding {:level :error}
           :unused-value {:level :warning}
           :redundant-call {:level :warning}
           :redundant-str-call {:level :warning}
           ;; TODO: with files which are loaded they if we remove duplicate imports in each loaded
           ;; file then we get an unresolved namespace error. add duplicate imports in each loaded
           ;; file and we get a duplicate require
           ;; TODO: only shows when we do a `lein clj-kondo` in the editor its fine
           :duplicate-require {:level :warning}
           :unresolved-namespace {:level :error}}
 :lint-as {mount.core/defstate clj-kondo.lint-as/def-catch-all}}
